################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/obj/Debug/net6.0
/obj/Release/net6.0
/obj
/bin/Debug/net6.0
